*{
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;      
}
header{
    display: flex;
    border: 3px solid red;
    background-color: #0020F4;
    height: 388px;
}
header img{
    border: 3px solid black;
    margin-left: 240px; 
    margin-top: 40px;
    margin-right: 250px;
}
.first-logo{
    border: 3px solid red;
}
.navnav div ul li {
   /* float: right; */
    display: inline-block;
    margin-right: 42px;
    padding: 0;   
}
.divdviv{
    border: 3px solid red;
    float: right;
    margin-top: 64px;
}
.divdviv ul li a {
    border: 3px solid red;
    color: white;
    font-size: 16px;     
}
#contact{
    /* border: 3px solid white; */
    border-radius: 28px;
    padding-left:36px;
    padding-right: 43px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #FFFFFF;
    color: #171717;
}
.building1{
    border: 3px solid white;
    height: 600px;
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-top:-100px;
    margin-bottom: 30px;
}
.building-under{
    border: 3px solid red;
    height: 33px;
    margin-top: 30px;
    
    color: #171717;
    font-size: 28px;
    margin: 0 auto;
    width: 70%;

}
/* .imglist img{
    border: 3px solid red;
    border-radius: 28px ;
    margin-top: 60px;
    margin-left: 225px;
    width: 150px;
   display: flex;

} */

.imglist {
    /* border: 3px solid black; */
    width: 70%;
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
   
}
.midimage {
    margin-right: 1px;
}
.text1{
    border: 3px solid black;
    width: 50%;
    margin: 0 auto;
}




